* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.group::after {
	content: '';
	display: table;
	clear: both;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	font-size: 14px;
	color: #000000;
}

a {
	color: #E8491D;
	text-decoration: none;
}

a:hover, a:focus {
	color: #D7721A;
	text-decoration: underline;
}

.group .current a {
	color: #E8491D;
	font-weight: bold;
}

.main-wrapper {
	width: 100%;
	margin: 0 auto;
}

header {
	background: #35424A;
	border-bottom: 3px solid #E8491D;
	padding: 0;
}

.logo a {
	display: block;
	width: 300px;
	height: 260px;
	background: url(img/title.png) no-repeat center center;
	text-indent: -9999px;
}

.primary ul {
	background: #35424A;
}

.primary ul li {
	float: left;
}

.primary ul li a {
	display: inline-block;
	padding: 15px 20px;
	color: #FFFFFF;
}

.primary ul li a:hover {
	background: #7A7A7A;
}

.wrap-content {
	background: #E8491D;
}

.main-content {
	background: #E6E6E6;
	float: left;
	width: 80%;
	padding: 40px 20px;
}

.thumbnail {
	float: left;
	margin-right: 20px;
}

.posts {
	clear: both;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #000000;
}

.posts div {
	width: 65%;
	overflow: hidden;
}

.posts .posts-1 {
	width: 85%;
	overflow: hidden;
}

.posts-1 #anomaly {
	background: #ECF0F1;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	color: #808080;
	padding: 10px;
	font-size: 1em;
}

.posts h1 {
	font-size: 15px;
	color: #000000;
	font-weight: bold;
}

.posts h1 a {
	font-size: 24px;
	color: #000000;
	font-weight: bold;
}

.posts h1 a:hover {
	color: #E8491D;
}

.posts p {
	padding: 10px 0 20px 0;
}

.posts .learn-more {
	font-weight: bold;
}

aside {
	width: 20%;
	background: #E8491D;
	float: right;
	height: auto;
	padding: 40px 20px;
}

.side-box {
	margin-bottom: 40px;
}

.side-box ul {
	margin-left: 10px;
}

.side-box ul li {
	margin-bottom: 10px;
}

.side-box ul li a {
	color: #FFFFFF;
}

.side-box .current a {
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
}

.side-box p {
	color: #FFFFFF;
}

.sidebar-heading {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #FFFFFF;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.anomaly-table {
	border-collapse: collapse;
	border: none;
	width: 100%;
}

.bold {
	font-weight: bold;
}

table, th, td {
	border: 1px solid #000000;
}

tr:nth-child(even) {
	background-color: #F2F2F2;
}

th {
	background-color: #35424A;
	color: #FFFFFF;
}

.tr-1 {
	background: #F9F9F9;
	color: #000000;
}

.tr-2 {
	background: #CCCCCC;
	color: #000000;
}

th, td {
	padding: 15px;
	text-align: left;
}

table .myth {
	color: #FF0000;
}

table .science {
	color: #009933;
}

.start {
	font-weight: bold;
	font-size: 20px;
}

footer {
	clear: both;
	background: #35424A;
	border-top: 3px solid #E8491D;
	height: 50px;
	text-align: center;
}

footer small {
	color: #FFFFFF;
	font-size: 12px;
	line-height: 50px;
}